/* Variables */
/*------------------------------------*\
    VENDORS
\*------------------------------------*/
@import "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css";
/*------------------------------------*\
    RESET
\*------------------------------------*/
html, body, main, article, nav, aside, section,
header, footer, address, div,
h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, dl, dt, dd,
hr, pre, figure, figcaption,
table, caption, thead, tbody, tfoot, tr, th, td, col, colgroup,
form, fieldset, legend, label, input, button, select, datalist,
optgroup, option, textarea, progress, meter,
img, iframe, embed, object, param, video, audio, source,
canvas, track, map, area, del, ins,
a, em, strong, i, b, u, s, small, abbr, q, cite, dfn, sub, sup,
time, code, kbd, samp, var, bdi, bdo, ruby, rt, rp, wbr,
mark, span, br {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

:after,
:before {
  box-sizing: border-box; }

button,
select,
textarea,
input {
  color: inherit;
  font-family: inherit;
  vertical-align: middle;
  max-width: 100%; }

a {
  text-decoration: none; }
  a img,
  a svg {
    display: block;
    border: none;
    max-width: 100%; }

img,
svg {
  max-width: 100%;
  border: none; }

li {
  list-style: none; }

hr {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left; }

:focus {
  outline: none; }

[hidden], [data-hidden="true"] {
  display: none; }

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
h1,
.h1 {
  font-size: 1.875rem; }

h2,
.h2 {
  margin: 16px 0;
  font-size: 1.875rem; }

h3,
.h3 {
  margin: 16px 0;
  font-size: 1.125rem; }

h4,
.h4 {
  margin: 16px 0;
  font-size: 1rem; }

h5,
.h5 {
  margin: 16px 0;
  font-size: 0.875rem; }

h6,
.h6 {
  margin: 16px 0;
  font-size: 0.75rem; }

p {
  margin-bottom: 16px;
  font-size: 0.875rem; }

hr {
  margin: 8px 0; }

ul li {
  font-size: 0.875rem; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: underline; }

em {
  font-style: italic; }

strong {
  font-family: Roboto;
  font-weight: 700; }

img {
  max-width: 100%;
  width: 100%; }

.text-size-big {
  font-size: 1.875rem !important; }

.text-size-large {
  font-size: 1.125rem !important; }

.text-size-medium {
  font-size: 1rem !important; }

.text-size-normal {
  font-size: 0.875rem !important; }

.text-size-small {
  font-size: 0.75rem !important; }

/*------------------------------------*\
    INPUT
\*------------------------------------*/
/*------------------------------------*\
    INPUT
\*------------------------------------*/
/*------------------------------------*\
    TEXTAREA
\*------------------------------------*/
/*------------------------------------*\
    SELECT
\*------------------------------------*/
/*------------------------------------*\
    BUTTONS
\*------------------------------------*/
/*------------------------------------*\
    HEADER
\*------------------------------------*/
/*------------------------------------*\
    BODY
\*------------------------------------*/
html {
  font-family: Roboto, Tahoma, Verdana, Segoe, sans-serif;
  font-weight: 400;
  font-size: 16px; }
  @media (max-width: 48em) {
    html {
      font-size: 16px; } }

body {
  width: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden; }
  @media (min-width: 75em) {
    body {
      -webkit-overflow-scrolling: inherit;
      overflow-x: inherit; } }

/*------------------------------------*\
    MAIN
\*------------------------------------*/
main {
  position: relative;
  z-index: 1;
  min-height: calc(100vh - 216px); }

/*------------------------------------*\
    SECTION
\*------------------------------------*/
/*------------------------------------*\
    ARTICLE
\*------------------------------------*/
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
/*------------------------------------*\
    HELPERS
\*------------------------------------*/
.row.no-gutters {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0; }

.margin-left {
  margin-left: 15px; }

.margin-right {
  margin-right: 15px; }

.nopad-left {
  padding-left: 0; }

.nopad-right {
  padding-right: 0; }

@media (max-width: 640px) {
  .center-block-mobile {
    float: none !important;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important; }
  .text-center-mobile {
    text-align: center; } }

.center-block {
  float: none !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }
  @media (max-width: 767px) {
    .vcenter {
      display: inherit;
      float: inherit; } }

.vbottom {
  display: inline-block;
  vertical-align: bottom;
  float: none; }

.letter-spacing {
  letter-spacing: 2px; }

label {
  white-space: nowrap; }

.position-absolute {
  position: relative !important; }
  @media (min-width: 75em) {
    .position-absolute {
      position: absolute !important; } }
